<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#f6f8f4">
<link rel="icon" href="/favicon.ico" />
<meta name="keyword" content="{{ Settings.GetStringValue("SiteIndexMetaKeyword") }}">
<link type="text/css" rel="stylesheet" href="/static/css/style.css">

{* 加载激活的主题样式和脚本 *}
{{ if Theme }}
  {{ if Theme.CSS }}
    <style type="text/css">
      {{ Theme.CSS }}
    </style>
  {{ end }}
  {{ if Theme.JS }}
    <script type="text/javascript">
      {{ Theme.JS }}
    </script>
  {{ end }}
{{ end }}


<script src="/static/js/lib/dayjs@1.11.7.min.js"></script>
<script src="/static/js/main.js" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.3/viewer.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.3/viewer.min.js"></script>

{* cdn *}
{*<script src="https://unpkg.com/dayjs@1.11.7/dayjs.min.js"></script>*}
