<header>
  <div class="container">
    <div class="logo">
      <a href="/">{{ Settings.GetStringValue("SiteTitle") }}</a>
    </div>
    <nav id="nav">
      <button class="menu-toggle" aria-label="Toggle navigation">
        <span class="hamburger"></span>
      </button>
      <div class="nav-links">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/article/categories">Categories</a>
            </li>
            <li>
              <a href="/links">Links</a>
            </li>
          </ul>
      </div>
    </nav>
  </div>
</header>