<!DOCTYPE html>
<html lang="zh-hans">

<head>
  <title>{{ Settings.GetStringValue("SiteTitle") }} - {{ Data.Title }}</title>
  {{ include "components/common_head" }}
</head>

<body>
  <script src="/static/lib/prism/prism.js"></script>
  <link type="text/css" rel="stylesheet" href="/static/lib/prism/prism.css">
  {{ include "components/header" }}
  <div class="container article">
    <h1 class="article-title">
      {{ Data.Title }}
    </h1>
    <div class="article-meta">
        <span>{{ Data.PostTime.Format("January 2, 2006") }}</span>
    </div>
    <div class="article-content" id="article_content">
     {{ Data.Detail.Content | raw }}
    </div>
  </div>
</body>