<!DOCTYPE html>
<html lang="zh-hans">

<head>
  <title>{{ Settings.GetStringValue("SiteTitle") }} - Categories</title>
  {{ include "components/common_head" }}
</head>

<body>
  {{ include "components/header" }}
  <div class="container">
    <h1>Categories</h1>
    <ul class="category-list">
      {{ range Data }}
      <li>
        <a href="/?category_name={{ .Name }}&category_uid={{ .UID }}">{{ .Name }} ({{ .TotalCount }})</a>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ include "components/footer" RequestTimeDuration }}
</body>

</html>