<!DOCTYPE html>
<html lang="zh-hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Title</title>
  <link type="text/css" rel="stylesheet" href="/static/css/style.css">
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <!-- 预加载一下 -->
  <script src="/static/js/lib/vditor@3.8.17.min.js"></script>
</head>

<body>
  {{ template "header" }}
  <div class="index-content">
    {{ template "articles" .Data.PageData}}
    {{ template "pagination" .Data.PageInfo}}
  </div>
  {{ template "footer" .RequestTimeDuration }}
</body>

</html>